<p>Welcome Email</p>
<p>Dear <%= name %>,</p>
<p>
    Thanks for signining up. We're exicted to have you on board.
</p>
<p>
    Here are your account details
</p>
<ul>
    <li> Email: <%= email %></li>
    <li> Login URL: <%= loginUrl %></li>
</ul>

Thanks!
NestJS Blog Support